Django<1.9
#six==1.10.0
django-cuser==2017.3.16
django-model-utils==3.0.0
pyshp==1.2.12
celery==4.1.0
Shapely>=1.5.13,<1.6.dev0
proj==0.1.0
pyproj==1.9.5.1
pygdal==2.1.2.3
inflection==0.3.1
flake8==2.6.2
pyflakes==1.2.3
python-dateutil==2.6.1
docker
invoke
# -e git://github.com/GeoNode/geonode.git@master#egg=geonode
